{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='border.css') }}">
{% endblock head %}
{% block content %}
<div class="wrapper">
    {% for api in apis %}
        <a href="/u/{{ api.file }}" class="api_item link border-1">
            <span class="api_name">{{ api.name }}</span>
            <span class="api_description">{{ api.description }}</span>
        </a>
    {% endfor %}
</div>
{% endblock content %}


